.page {
    padding: 32px;
}

.controls {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
    flex-wrap: wrap;
}


.controls select {
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    background: var(--card-bg);
    color: var(--text);
    cursor: pointer;

}

.controls select:focus {
    outline: none;
}

.controls input {
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    width: 1073px;
    background: var(--card-bg);
    color: var(--text);
}

.controls input:focus {
    outline: none;
}

.grid {
    display: grid;
    gap: 24px;
}

@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1023px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

.pagination {
    margin-top: 24px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.pagination button {
    padding: 6px 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background 0.2s;
    background: #66a5ad;
    color: var(--button-text);
}

.pagination button:hover {
    background: #c4dfe6;
}

.activePage {
    background: #2563eb;
    color: #75757580;
    border-color: #2563eb;
}