@keyframes shimmer {
    0% {
        background-position: -400px 0;
    }

    100% {
        background-position: 400px 0;
    }
}

.card {
    background: #fff;
    border-radius: 14px;
    padding: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
}

.image {
    height: 180px;
    border-radius: 10px;
    background: #e5e7eb;
    margin-bottom: 12px;
    animation: shimmer 1.5s infinite linear;
    background: linear-gradient(90deg,
            #e5e7eb 25%,
            #f3f4f6 50%,
            #e5e7eb 75%);
    background-size: 400% 100%;
}

.title {
    height: 18px;
    width: 80%;
    background: #e5e7eb;
    border-radius: 8px;
    margin-bottom: 8px;
    animation: shimmer 1.5s infinite linear;
}

.description {
    height: 14px;
    width: 100%;
    background: #e5e7eb;
    border-radius: 6px;
    margin-bottom: 12px;
    animation: shimmer 1.5s infinite linear;
}

.bottom {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.priceBox {
    width: 60px;
    height: 24px;
    background: #e5e7eb;
    border-radius: 6px;
    animation:  0.5s infinite linear;
}

.button {
    width: 80px;
    height: 28px;
    background: #e5e7eb;
    border-radius: 8px;
    animation:  0.s infinite linear;
}

@media (max-width: 600px) {
    .image {
        height: 220px;
    }
}