* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg: #c4dfe6;
    --text: #111827;
    --card-bg: #f9fafb;
    --button-bg: #07575b;
    --button-text: #ffffff;
    --header-bg: #003b46;
    --link-color: #1f2937;
    --link-hover: #66a5ad;
    --theme-active: #0f172a;
    --theme-color: #f3f4f6;
    --pgn-btn: #747474;
}

[data-theme='dark'] {
    --bg: #0f172a;
    --text: #f8fafc;
    --card-bg: #1e293b;
    --button-bg: #0f172a;
    --button-text: #ffffff;
    --header-bg: #111827;
    --link-color: #f8fafc;
    --link-hover: #a4bddb;
    --theme-active: #f8fafc;
    --theme-color: #0f172a;
    --pgn-btn: #0f172a;
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--link-hover);
}


body {
    background-color: var(--bg);
    color: var(--text);

}



button {
    border: none;
    background: none;
    font-family: inherit;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}